{% extends "fillcart/base.html" %}
{% load static %}
{%block content%}

<!--Login2-->
<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="index/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category/">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	{% if user.is_authenticated %}

	<div class="container">
		<h1>You are already Logged In ! </h1>
	</div>
	{% else %}
	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{%static 'img/login.jpg'%}" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="register/">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner resp">
						<h3>Log in to enter</h3>
						<form class="row login_form" id="contactForm" novalidate="novalidate">{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="un" name="name" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
								<p id="unresp"></p>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="pw" name="name" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
								<p id="pwresp"></p>
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn" id="loginbtn">Log In</button>
								<a href="#">Forgot Password?</a>
								<p id="resp"></p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% endif %}

<!--================End Login Box Area =================-->
{%endblock content%}
{% block extrajs %}
<script  src="{% static 'js/login.js' %}"></script>
{% endblock %}















