{% extends "fillcart/base.html" %}
{% load static %}
{%block content%}

<!--Login2-->
<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="index/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category/">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->


<div class="container">
    <button type="submit" value="submit" class="primary-btn" id="logoutbtn">Log Out</button>
</div>

<h1 id="msg"></h1>

{%endblock content%}
{% block extrajs %}
<script  src="{% static 'js/login.js' %}"></script>
{% endblock %}















